h1 {
    font-size: 400%;
}
h2 {
    font-size: 300%;
}
h3 {
    font-size: 200%;
}    
p {
    font-size: 125%;
}
body {    
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: darkslategrey;
}
header {
    position: fixed;
    top: 0;
    width: 100dvw;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #ddd;
}
  
li a.active {
    color: white;
    background-color: #04AA6D;
}

.contact-section {
    columns: 3;
}
.tile {
    /* vertical-align: auto; */

    width: 10vw;
    height: 25dvh;
    margin: 5px;
    padding: 25px;
    border: 2pt solid black;
}
.list {
    align-content: center;
}